// Main colors
$background-color: #668ACC;
$column-background-color: #F8F8F8;
$mobile-background-color: #D1DBEF;

// Text colors
$text-color: #222;
$info-text-color: #AAA;
$footer-text-color: #555;
$caption-color: #666;
$header-link-color: white;
$header-link-background-color: #334972;

// Borders and other filler colors
$column-border-color: #567abc;
