@import 'css/colors';

/* Set defaults, using mobile-first approach in which mobile/narrow-screen
 * arrangement and stylings are the default, with extra styling enabled in
 * browsers that say they are wider than $min-width. 
 */

$min-width: 1000px;

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td, a {
  margin: 0;
  padding: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  font-size: 14pt;
  line-height: 150%;
}
body {
  font-family: "Arial", "Helvetica", "Helvetica Neue";
  font-size: 14pt;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mobile-background-color;
}

h1 {
  font-size: 250%;
  line-height: 100%;
  color: black;
}

h2 {
  padding: 0.2cm 0;
}

ul {
  padding: 0 0.5cm;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $caption-color;
  font-size: 11pt;
  font-family: "Arial", "Helvetica", "Helvetica Neue";
}

#sidebar, #footer {
  display: none;
}

/* h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
} */

#content img { 
  max-width: 250pt;
}

.center {
  width: 100% !important;
  text-align: center;
}

/* header-related things */
.app-header {
  background-color: transparent;
  background-image: linear-gradient(#2f5db1, #2e569f);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto, auto;
  position: relative;
  border-bottom: 1px solid #0049c3;
  box-shadow: 0 0 5px #02204e;
  z-index: 11;
}
.header-container {
  min-width: 0;
  margin: 0px auto;
  height: 6 * 1.2em + 1em;
  padding: 0px 0.5cm;
  line-height: 1.28571em;
  font-size: 14pt;
}
.inline-block {
  display: inline;
}
.header-element {
  display: table-cell;
}
.header-logo {
  height: 2.3cm;
  vertical-align: bottom;
  position: relative; 
  top: -20px;
}
.header-nav {
  float: left;
  margin-left: 0;
  margin-top: 0.5em;
  ul {
    list-style: none outside none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  li {
    font-size: 110%;
    line-height: 1.2em;
    text-shadow: 0px -1px 0px #001f76;
  }
  a {
    border-radius: 3px;
    color: $header-link-color;
    font-weight: bold;
    text-decoration: none;
    line-height: 110%;
    display: block;
    padding: 0.1em 0.3em;
  }
  a:hover {
    background: $header-link-background-color;
    text-decoration: underline;
    color: $header-link-color;
  }
}

/* content-related things */
.content-container {
  padding: 0;
  min-width: 0;
  margin: 0 auto;
}
.column-container {
  padding: 0.5cm 0.5cm 1cm;
  border-width: medium 1px 1px;
  border-style: none solid solid;
  border-color: $column-border-color;
  background: none repeat scroll 0% 0% #FFF;
  min-height: 5cm;
  font-size: 13pt;
  line-height: 1.2em;
  background-color: $column-background-color;
  color: $text-color;
  p {
    padding: 0.2cm 0;
  }
}
.info {
  text-align: right;
  color: $info-text-color;
  font-size: 10pt;
}

.column-header {
  position: relative;
  clear: both;
  border-bottom: 1px solid #567abc;
  font-size: 32pt;
  line-height: 1em;
  padding-bottom: 5pt;
  margin-bottom: 10pt;
}

/* Footer */
div#footer {
  color: $footer-text-color;
  font-size: 9pt;
  margin-top: 2em;
  padding: 1em;
  text-align: right;
}

/* Extra features for extra-wide screens */
@media screen and (min-width: $min-width) {
   @import 'css/widescreen';
}
