/* COLOR REFERENCE
 *   Colors get pretty confusing pretty fast. 
 *   Here's a list, in the hopes of standardizing on a color theme
 *   eventually:
 *   - #2f5db1, #2e569f, white: colors used in the header
 *   - #0049c3: border at the bottom of the header
 *   - #02204e: shadow at the bottom of the header
 *   - #001f76: shadow of the text in the navigation bar
 *   - #334972: background of the navigation bar buttons when hovered
 *   - #567abc: border of the content box, and border below headers therein
 */

/* Set defaults */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td, a
{
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

/* GLOBAL */
body
{
    font-family: "Arial", "Helvetica", "Helvetica Neue";
    font-size: 14px;
    color: #333;
    text-align: left;
    background-color: #668ACC;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
}
h1
{
    font-size: 2.5em;
    line-height: 1em;
    color: black;
}

h2 {
  padding: 0.2cm 0;
}

ul {
  padding: 0 0.5cm;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #666;
  font-size: 11pt;
  font-family: "Arial", "Helvetica", "Helvetica Neue";
}

/* HEADER/BANNER */
.app-header {
    background-color: transparent;
    background-image: linear-gradient(#2f5db1, #2e569f);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto, auto;
    position: relative;
    min-width: 990px;
    border-bottom: 1px solid #0049c3;
    box-shadow: 0 0 5px #02204e;
    z-index: 11;
}

.vertical-center {
    vertical-align: middle;
}

.header-nav {
    float: left;
    margin-left: 15em;
    margin-top: -2em;
}

.header-nav li {
    font-size: 1.5em;
    line-height: 1.5em;
    text-shadow: 0px -1px 0px #001f76;
}

.header-nav a {
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 21px;
    display: block;
    padding: 0.1em 0.3em;
}
 
.header-nav a:hover {
     background: #334972;
     text-decoration: underline;
     color: white;
}

.header-container {
    /* width: 960px; */
    margin: 0px auto;
    padding: 0px 15px;
    line-height: 1.28571em;
    font-size: 14px;
}

.sidebar {
    position: absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background: #AAA;
}

ul.header-nav {
    list-style: none outside none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

.inline-block {
    display: inline-block;
}

/* CONTENT */
.content-container {
    padding: 0 1cm 1cm;
    min-width: 10cm;
    max-width: 20cm;
    margin: 0px auto;
}

.column-container {
    padding: 0.5cm 1cm 1cm;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: #567abc;
    background: none repeat scroll 0% 0% #FFF;
    min-height: 5cm;
    font-size: 13pt;
    line-height: 1.2em;
    background-color: #F8F8F8;
    color: #222;
}

.column-container p {
    padding: 0.2cm 0;
}

.info {
  text-align: right;
  color: #AAA;
  font-size: 10pt;
}

.column-header {
    position: relative;
    clear: both;
    border-bottom: 1px solid #567abc;
    font-size: 32px;
    line-height: 1em;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div#footer {
    color: #555;
    font-size: 9pt;
    margin-top: 2em;
    padding: 1em;
    text-align: right;
}

/* mobile styles */
@media (max-width: 600px){

	html, body {
		background: #D1DBEF;
		padding: 0;
		}
	#sidebar, #footer {
		display: none;
		}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		text-align: center;
		}
  /* remove padding on central column */
  .content-container {
      padding: 0;
      min-width: 0;
      margin: 0px auto;
  }
  .column-container {
      padding: 0.5cm 0.5cm 1cm;
  }

  /* Take up less horizontal space with the header by expanding it
   * vertically */
  .app-header {
      min-width: 0;
  }
  .header-container {
      min-width: 0;
      margin: 0px auto;
      height: 120px;
      padding: 0px 15px;
      line-height: 1.28571em;
      font-size: 14px;
  }
  .header-nav {
      float: left;
      margin-left: 9em;
      margin-top: -5em;
  }
  .inline-block {
      display: inline;
  }
}
