/* GLOBAL */
body
{
    font-family: "Arial", "Helvetica", "Helvetica Neue";
    font-size: 14px;
    color: #333;
    text-align: left;
    background-color: #2a5b95;
    background-image: url('../images/backdrop.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0 0 0;
}
body a
{
    color: #ca4a0f;
}
body a:hover
{
    color: #d50b0b;
}
h1
{
    font-size: 32px;
    line-height: 14px;
    color: black;
}
div#menu ul a
{
    text-decoration: none;
    color: black;
}
div#menu ul a:hover
{
    text-decoration: underline;
    color: black;
}

/* LAYOUT */
div#page
{
    margin: 0 auto 0 auto;
    padding-left: 5em;
    padding-right: 5em;
    min-width: 30em
}
div#site_title
{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 15px;
    margin: 0 0 0 30px;
}
div#primary_content
{
    /* ROUNDED CORNERS */
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    /* DROP SHADOW */
    -moz-box-shadow: 0em 0em 1em #000000;
    -webkit-box-shadow: 0em 0em 1em #000000;
    box-shadow: 0em 0em 1em #000000;
    /* OTHER */
    background-color: white;
    padding: 2.5em;
}
div#menu ul
{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
div#menu li
{
    margin: 0;
    padding: 8px;
    display: inline;
}
div#page_content
{
    
}
.app-header {
    position: relative;
    min-width: 990px;
    background: url('../images/blue.jpg') no-repeat scroll center center, linear-gradient(#004AC4, #2E569F) repeat scroll 0% 0% transparent;
    border-bottom: 1px solid #2E569F;
    box-shadow: 0px 0px 5px rgba(78, 2, 2, 0.76);
    z-index: 11;
}

.logo {
    float: left;
    height: 58px;
    width: 111px;
    margin: 9px 15px 9px 0px;
    padding: 0px;
}

/* COLOR STYLES */
.color01
{
    color: #de5b1e;
}
.color02
{
    color: #f0b747;
}
.color03
{
    color: #6aa427;
}
.color04
{
    color: #9bcfb2;
}
.colorwater
{
    color: #2a5b95;
}
