# Cabal things
.cabal-sandbox
cabal.sandbox.config
dist/*

# Don't version control hakyll's temporary files, the final rendered
# html, or the executable
.store/*
_site/*
blog
site
hakyll-4.5.4.0/*

# Ignore the sass cache
.sass-cache/*
css/.sass-cache/*
